{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "es6": false
  },
  "globals": {
    "jQuery": true,
    "$": true,
    "Promise": true
  }
}
